{{#if blackpage}}
<nav>
    <button id="home"><a href="/"><img src="/assets/img/ccHomeWhite.png" alt="home"></a></button>
    <button id="write"><img src="/assets/img/ccUploadWhite.png" alt="upload"></button>
    <button id="logout"><img src="/assets/img/ccLogoutWhite.png" alt="logout"></button>
</nav>
{{else}}
<nav>
    <button id="home"><a href="/"><img src="/assets/img/ccHomeGrey.png" alt="home"></a></button>
    <button id="write"><img src="/assets/img/ccUploadGrey.png" alt="upload"></button>
    <button id="logout"><img src="/assets/img/ccLogoutGrey.png" alt="logout"></button>
</nav>
{{/if}}