{{#if blackpage}}
<nav>
    <button><a href="/signup"><img src="/assets/img/ccLoginWhite.png" alt="login"></a></button>
    <button><a href="/signup"><img src="/assets/img/ccLoginWhite.png" alt="login"></a></button>
    <button><a href="/signup"><img src="/assets/img/ccLoginWhite.png" alt="login"></a></button>
</nav>
{{else}}
<nav>
    <button><a href="/signup"><img src="/assets/img/ccLoginBlack.png" alt="login"></a></button>
    <button><a href="/signup"><img src="/assets/img/ccLoginBlack.png" alt="login"></a></button>
    <button><a href="/signup"><img src="/assets/img/ccLoginBlack.png" alt="login"></a></button>
</nav>
{{/if}}