<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/styleblack.css">
    <title>binary literal</title>
</head>
<body>
    <header>
        <h1>binary literal</h1>
        <img src="/assets/img/xbinaryStringLiteralWhite.png" alt="">
        {{!-- {{#if Reader}} --}}
        <nav>
            <button id="home"><a href="/"><img src="/assets/img/ccHomeWhite.png" alt="home"></a></button>
            <button id="write"><img src="/assets/img/ccUploadWhite.png" alt="upload"></button>
            <button id="logout"><a href="/logout"><img src="/assets/img/ccLogoutWhite.png" alt="logout"></a></button>
        </nav>
        <script src="/assets/script/logout.js"></script>
        {{!-- {{/if}}
        {{#else}}
        <nav>
            <button><a href="/signup"><img src="/assets/img/ccLoginWhite.png" alt="login"></a></button>
            <button><a href="/signup"><img src="/assets/img/ccLoginWhite.png" alt="login"></a></button>
            <button><a href="/signup"><img src="/assets/img/ccLoginWhite.png" alt="login"></a></button>
        </nav>
        <script src="/assets/script/login.js"></script> 
        {{/else}} --}}
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        common use licence, codeclast date
    </footer>
</body>
</html>