<article>
    <img src="./assets/img/blimg1.jpg" alt="article image">
    <h3>title</h3>
    <h4>created at: 234.2342l.2342.0, keywords: thetans, america, potatoes</h4>
    <section>text: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis exercitationem, eum nihil ab, qui,
        fugit quidem quos soluta magnam quibusdam accusamus at earum nemo saepe. Id, numquam? Totam, neque quas.
    </section>
    <h4><a href="" alt="Neat!">Neat!</a> 47 neats, reader Anotny!34 said: This had some interesting points! <a href="" alt="more comments">-> More comments:</a></h4>
</article>