<form class="login">
    <div>
        <label for="email">email:</label>
        <input type="text" id="email"/>
    </div>
    <div>
        <label for="pass">password:</label>
        <input type="password" id="pass" />
    </div>
    <div>
        <label for="english">translate ascii binary to english?</label>
        <input type="checkbox" id="english">
    </div>
    <div>
        <label for="white">change theme to whiteonblack?</label>
        <input type="checkbox" id="white">
    </div>
    <div>
        <button type="submit">signup -> </button>
    </div>
</form>
<script src="/assets/script/login.js"></script> 