<form class="login">
    <h3>Please login and select your viewing preferences:</h3>
    <div>
        <label for="email">email:</label>
        <input type="text" id="email" />
    </div>
    <div>
        <label for="pass">password:</label>
        <input type="password" id="pass" />
    </div>
    {{!-- <div>
        <label for="language">Would you like the text displayed in binary or english?</label>
        <select id="language">
            <option value="false">- ascii english</option>
            <option value="true">- ascii binary</option>
        </select>
    </div> --}}
    <div>
        <label for="theme">How would you like to see the content displayed?</label>
        <select id="theme">
            <option value="true">- black text on white background</option>
            <option value="false">- white text on black background</option>
        </select>
    </div>
    <div>
        <button type="submit"><h3>login -></h3></button>
    </div>
</form>
<form class="signup">
    <br><h3>Welcome! If this is your first time here, you are please sign up in order to login: </h3>
    <div>
        <label for="signupuser">username:</label>
        <input type="text" id="signupuser" />
    </div>
    <div>
        <label for="signupemail">email:</label>
        <input type="text" id="signupemail" />
    </div>
    <div>
        <label for="signuppass">password:</label>
        <input type="password" id="signuppass" />
    </div>
    {{!-- <div>
        <label for="signuplanguage">Would you like the text displayed in ascii binary or ascii english?</label>
        <select id="signuplanguage">
            <option value="false">- ascii english</option>
            <option value="true">- ascii binary</option>
        </select>
    </div> --}}
    <div>
        <label for="signuptheme">How would you like to see the content displayed?</label>
        <select id="signuptheme">
            <option value="true">- black text on white background</option>
            <option value="false">- white text on black background</option>
        </select>
    </div>
    <div>
        </br>
        <button type="submit"><h3>signup -></h3></button>
    </div>
</form>
<script src="/assets/script/signup.js"></script>
<script src="/assets/script/login.js"></script>