<section>
    <form class="compose">
        <div>
            <h3>Welcome to the writer's room.</h3>
        </div>
        <div>
            <label for="title">Please enter the title of your article:</label>
            <textarea name="title" id="title"></textarea>
        </div>
        <div>
            <label for="imagename">If you have an image to submit (by email - upload not yet functional), please enter the name including the suffix:</label>
            <textarea name="imagename" id="imagename"></textarea>
        </div>
        <div>
            <label for="imagename">If you listed an image, please put an alttext to display if the image can't show or a reader can't see it:</label>
            <textarea name="altimgtext" id="altimgtext"></textarea>
        </div>
        <div>
            <label for="keywords">Please list some keywords for your article - general themes, specific names and such.</label>
            <textarea name="keywords" id="keywords"></textarea>
        </div>
        <div>
            <label for="textfield">Please enter the body of the article here. Don't forget to proofread.</label>
            <textarea name="textfield" id="textfield"></textarea>
        </div>
        <div>
            <button type="submit" id="publish">publish -></button>
        </div>
    </form>
</section>
<script src="/assets/script/write.js"></script>