* {
    background-color: white;
    color: black;
    font-family: 'DM Mono', monospace;
    font-weight: normal;
    font-size: medium;
}

header {
    text-align: center;
}

h1 {
    font-size: 60px;
}

header img {
    width: 100%;
}

button  {
    border: none;
}

button img {
    width: 30px;
    padding-left: 80px;
    padding-right: 80px;
}

main {
    margin-top: 80px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

article img {
    width: 100%;
}

h3 {
    font-weight: bold;
}

h4 {
    color: grey;
}

footer {
    color: grey;
    text-align: right;
    margin-top: 80px;
}

@media screen and (max-width: 800px) {
    
    * {
        font-size: small;
    }

    h1 {
        font-size: 33px;
    }

    button img {
        padding-left: 24px;
        padding-right: 24px;
    }

}